<!-- blog thumbnail -->
<article data-animate="opacity-25" class="scrollArticle hover:scale-105 transform transition-all opacity-25 w-72  mx-auto relative break-words vh-50 group bg-white group flex flex-col overflow-hidden rounded-md filter drop-shadow-2xl">
    <section class="w-full h-5/6 relative">
        <!-- blog image -->
        <img 
            class="block absolute top-0 left-0 h-full w-full object-cover z-0 transition-all pointer-events-none object-top filter brightness-50 md:brightness-100 md:grayscale md:group-hover:grayscale-0"
            src="<%= blog.poster %>"
            alt="">  
        <!-- blog info -->
        <section class="h-auto absolute bottom-0 left-0 w-full bg-white p-4 flex flex-col items-center gap-2 transition-transform md:opacity-0 md:group-hover:opacity-100 transform md:translate-y-full md:group-hover:translate-y-0">
            <h4 class="text-pink-600 font-regular font-semibold w-11/12 text-center mx-auto text-xs inline-flex flex-col items-center justify-center">
                <small class="text-gray-500">Review of </small>
                <span>
                    <%= blog.title %>
                </span>
            </h4>
            <strong class="text-sm text-center">
                <%= blog.blog_title %>
            </strong>
            <img src="https://htmlstream.com/preview/unify-v2.6.3/assets/img-temp/400x450/img5.jpg" alt="" class="h-10 w-10 object-cover block p-0.5 rounded-full filter drop-shadow-md bg-white">
            <a href="" class="text-pink-600 capitalize text-xs font-semibold font-special outline-none focus:outline-none hover:border-current border-transparent border-b transition-all">
                <%= blog.name %>
            </a>
            <!-- summary/desc of the list max 30 chars  -->
            <p class="text-xs font-light text-center font-regular italic text-black">
                <%= blog.blog_content %>
            </p>
            <a href="/moovey/<%= blog.blog_id %>" class="outline-none focus:outline-none text-xs font-regular capitalize text-black font-semibold mt-auto hover:text-pink-600">
                read more
            </a>
        </section>
        <!-- blog meta only for tab and above screen size. disappears on hover -->
        <section class="h-autp p-1.5 hidden md:block absolute bottom-0 left-0 w-full bg-white group-hover:opacity-0 group-hover:-translate-y-full transform transition-all pointer-events-none">
            <strong class="text-sm text-left">
                <%= blog.blog_title %>
            </strong>
            <div class="flex items-center gap-2 mt-2">
                <img src="https://htmlstream.com/preview/unify-v2.6.3/assets/img-temp/400x450/img5.jpg" alt="" class="h-8 w-8 object-cover block p-0.5 rounded-full filter drop-shadow-md bg-white">
                
                <a href="" class="text-pink-600 capitalize outline-none focus:outline-none">
                    <small class="text-xs font-semibold font-special">
                        <%= blog.name %>
                    </small>
                </a>
            </div>
        </section>
    </section>
    <!-- blog stats -->
    <div class="h-1/6 mt-auto left-0 w-full grid place-items-center">
        <ul class="flex items-center justify-around gap-x-4 py-2">
            <li class="text-xs text-gray-400 font-special inline-flex items-center gap-1">
                <i class="far fa-eye"></i>
                <small>150</small>
            </li>
            <li class="text-xs text-gray-400 font-special inline-flex items-center gap-1">
                <i class="far fa-star"></i>
                <small>4.5/5</small>
            </li>
            <li class="text-xs text-gray-400 font-special inline-flex items-center gap-1">
                <i class="far fa-calendar"></i>
                <small>21-Oct-2020</small>
            </li>
        </ul>
    </div>
</article>
