<section class="row flex-center">
    <div class="margin-top-small">
        <label for="<%= id %>">
            <%= placeholder %>
        </label>
        <input 
            autocomplete="off"
            type="<%= type %>" 
            placeholder="<%= placeholder %>" 
            name = "<%= name %>"
            autocomplete="off"
            id="<%= id %>">
      </div>
</section>
