<section class="list-item-container relative h-screen flex flex-col items-center justify-center">
    <div class="h-65h transform scale-0 transition-all shadow-2xl font-regular">
        <article class="z-10 w-full min-h-full max-w-md mx-auto flex flex-col my-4 bg-black relative overflow-y-auto">
            <% if(loggedIn) {%>
            <button class="expandListMenu text-gray-400 hover:text-white duration-100 transition-colors absolute right-4 top-4 outline-none focus:outline-none">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <section class="listMenu flex flex-col items-start justify-around p-6 absolute top-5 right-4 bg-white h-24 transform transition-all origin-top-right scale-0">
                <button class="closeListMenu absolute right-2 top-2 hover:text-pink-600 outline-none focus:outline-none">
                    <i class="fas fa-times"></i>
                </button>
                <button class="text-sm text-gray-500 hover:text-black capitalize outline-none focus:outline-none">
                    add to watchlist
                </button>
                <button class="text-sm text-gray-500 hover:text-black capitalize outline-none focus:outline-none">
                    mark as watched
                </button>
            </section>
            <% } %>
            <div class="flex flex-col items-center py-2.5 px-4 bg-pink-600 shadow-lg w-min">
                <strong class="text-xl text-white w-max inline-block font-title">
                    Year: <%= item.year %>
                </strong>
            </div>
            <div class="px-4 flex flex-col w-full items-center justify-center">
                <h2 class="text-2xl text-white my-2 text-center font-title capitalize">
                    <%= item.movie_title %>
                </h2>
                <img src="<%= item.poster %>" 
                class="block w-auto h-64 object-scale-down my-2">
                <p class="text-gray-100 text-center my-2 font-title w-5/6 mx-auto">
                    <% if (item.description) { %>
                        <%= item.description %>
                    <% } else { %>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa odit ab, nisi doloribus possimus, voluptatibus delectus aut laboriosam nihil aperiam aspernatur necessitatibus esse! Suscipit asperiores vitae accusamus itaque!
                    <% } %>
                </p>
            </div>
        </article>
    </div>
    <h3 class="absolute hidden lg:flex flex-col items-center justify-center text-white left-0 top-1/4 w-full max-w-md opacity-50 pointer-events-none select-none">
        <span class="text-9xl font-bold">
            <%= index + 1 %>.
        </span>
        <small class="text-xl border-t-4 border-current">
            of <%= data.length %>
        </small>
    </h3>
</section>