<article class="relative h-full block vh-50 rounded-md w-4/5 mx-auto bg-white shadow-xl overflow-hidden group max-w-xs md:w-full md:hover:scale-105 md:hover:-translate-y-px md:hover:shadow-2xl transform transition-all outline-none focus:outline-none">
    <span class="absolute bg-black py-2 px-4 text-white font-regular font-semibold right-0 top-0 z-20 text-xs">
        #<%= index %>
    </span>
    <img src="<% if (user.picture) {%><%= user.picture %><% } else { %> /static/assets/placeholder.jpg <% }%>" alt="" class="h-full w-full block absolute top-0 left-0 object-cover object-center filter brightness-50 z-0 transform transition-all origin-bottom-right md:group-hover:scale-150 md:grayscale-0 md:group-hover:grayscale">
    <section class="absolute top-0 left-0 w-full h-full z-10 py-6 px-4 flex flex-col">
        <a href="/reviewers/<%= user.uid %>" class="text-white capitalize font-special font-semibold outline-none focus:outline-none transition-all border-b-2 border-dashed inline-block w-max" title="View Profile">
            <%= user.name %>
        </a>
        <% if (user.location) { %>
            <p class="text-xs">
                <small class="text-gray-300 my-1">
                    <%= user.location %>
                </small>   
            </p>
        <% } %>
        <div class="flex flex-col items-start justify-center my-6 bg-white bg-opacity-70 p-3 text-xs gap-1 relative md:transition-all md:transform md:scale-0  md:group-hover:scale-100">
            <i class="fas fa-quote-left absolute -top-4 text-black text-lg left-1"></i>
            <blockquote class="mb-2 font-regular italic overflow-ellipsis">
                <% if (user.bio) { %>
                    <%= user.bio.slice(0, 50) %> <% if (user.bio.length > 50) { %>...<% } %>
                <% } else { %>
                    No profile bio found
                <% } %>
            </blockquote>
            <small class="text-black font-semibold font-regular"><%= user.totalblogs %> Reviews</small>
            <small class="text-black font-semibold font-regular"><%= user.totallists %> Lists</small>

            <a href="/reviewers/<%= user.uid %>" class="text-gray-500 hover:text-black font-regular font-semibold outline-none focus:outline-none transition-all block mx-auto my-2 p-1 capitalize" title="View Profile">
                view profile
            </a>
        </div>
        <ul class="flex flex-col items-start justify-center mt-auto pl-1 gap-4 text-sm text-white md:transform md:transition-all md:translate-y-full md:group-hover:translate-y-0 md:group-hover:opacity-100 md:opacity-0">
            <% if (user.facebook) {%>
            <li><a title="<%= user.name %>'s facebook account" href="<%= user.facebook %>" target="_blank" class="outline-none focus:outline-none transition-all transform hover:scale-125 origin-center inline-block"><i class="fab fa-facebook-f"></i></a></li>
            <% } %>
            
            <% if (user.twitter) {%>
            <li><a title="<%= user.name %>'s twitter account" href="<%= user.twitter %>" target="_blank" class="outline-none focus:outline-none transition-all transform hover:scale-125 origin-center inline-block"><i class="fab fa-twitter"></i></a></li>
            <% } %>
            
            <% if (user.website) {%>
            <li><a title="<%= user.name %>'s website account" href="<%= user.website %>" target="_blank" class="outline-none focus:outline-none transition-all transform hover:scale-125 origin-center inline-block"><i class="fas fa-link"></i></a></li>
            <% } %>

        </ul>
    </section>
</article>
