<%- include('../../partials/head') %>
<body class="custom-scrollbar relative">
    <%- include('../../partials/navbar') %>    
    <%- include('../../partials/dashboard/dashboard-sidebar') %>    
   


    <main class="w-full relative h-screen flex items-start pt-10">
    

        <!-- page specific data -->
        <section class="h-11/12 overflow-y-auto custom-scrollbar w-full flex flex-col items-center justify-center">
        
            
            <!-- article view -->
            <form autocomplete="off" class="articleForm tabTarget h-full md:bg-white w-full block md:w-11/12 md:ml-10 md:p-4 p-2 relative pb-6">
                <section class="mb-4 w-full max-w-3xl mx-auto md:pb-2 border-b border-gray-200">
                    <p class="font-special text-gray-500 font-light p-2 text-xs md:text-sm">
                        Review of
                        <strong class="font-regular capitalize text-black ml-1">
                            dr strangelove or how i learned to love the bomb and stop worrying
                        </strong>
                    </p>
                    <span id="formError" class="w-full hidden text-center font-semibold text-pink-600 my-2">
                        
                    </span>
                </section>
                
                
                <!-- review title -->
                <section class="mb-4 w-11/12 max-w-3xl mx-auto md:pb-2 border-b border-gray-200">
                    <label for="title">
                        <span class="font-special text-gray-500 font-semibold capitalize text-sm md:text-base">
                            title
                        </span>
                    </label>
                    <div class="absolute pointer-events-none invisible"></div>
                    <textarea
                        type="text" 
                        name="title" 
                        id="title" 
                        maxlength="100"
                        data-placeholder="Write your review title here"
                        class="ring-0 richTextField resize-none mt-0.5 font-regular font-semibold block text-gray-600 w-full text-lg md:text-xl outline-none focus:outline-none focus:text-black p-1 h-auto focus:ring-0 border-0">Hello world</textarea>
                </section>
                
                <!-- review body -->
                <section class="w-11/12 max-w-3xl mx-auto h-auto">
                    <label for="review">
                        <span class="font-special text-gray-500 font-semibold capitalize text-sm md:text-base">
                            review
                        </span>
                    </label>
                    <textarea data-placeholder="Write your review here" id="review" name="review" class="richTextField resize-none mt-0.5 font-regular block text-gray-500 w-full outline-none focus:outline-none focus:text-black p-1 text-sm md:text-lg leading-7"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><p><b>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ip</b>sum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is t<i><u>hat it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, an</u></i>d a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><p><br></p><p>It is a long established fact that a reader will be <b>distracted b</b>y the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum <b>as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</b></p><p><b><br></b></p>
                    </textarea>
                </section>

                <!-- review rating -->
                <section class="mb-8 w-11/12 max-w-3xl mx-auto">      
                    <span class="font-special text-gray-500 font-semibold capitalize">
                        rating
                    </span>
                    <section class="w-full">
                        <legend class="my-2.5 text-sm font-semibold font-special text-gray-400">
                            Direction
                        </legend>
                        <%- include('../../partials/dashboard/sort-options', {
                            name : "direction",
                            sortMode : false,
                            optionsArray : ["bad","average", "decent", "good", "great"]
                        }) %>
                    </section>
                    <section class="w-full">
                        <legend class="my-2.5 text-sm font-semibold font-special text-gray-400">
                            Acting
                        </legend>
                        <%- include('../../partials/dashboard/sort-options', {
                            name : "acting",
                            sortMode : false,
                            optionsArray : ["bad","average", "decent", "good", "great"]
                        }) %>
                    </section>
                    <section class="w-full">
                        <legend class="my-2.5 text-sm font-semibold font-special text-gray-400">
                            Plot
                        </legend>
                        <%- include('../../partials/dashboard/sort-options', {
                            name : "plot",
                            sortMode : false,
                            optionsArray : ["bad","average", "decent", "good", "great"]
                        }) %>
                    </section>
                </section>

                  <!-- review conclusion -->
                  <section class="w-11/12 max-w-3xl mx-auto h-auto">
                    <label for="conclusion">
                        <span class="font-special text-gray-500 font-semibold capitalize text-sm md:text-base">
                            conclusion <span class="font-normal">(optional)</span>
                        </span>
                    </label>
                    <textarea data-placeholder="Write your conclusion here" id="conclusion" name="conclusion" class="richTextField resize-none mt-0.5 font-regular block text-gray-500 w-full outline-none focus:outline-none focus:text-black p-1 text-sm md:text-lg leading-7"><p>
                    </textarea>
                </section>

                <button type="submit" class="block w-max mx-auto px-5 py-2 bg-black text-white font-special capitalize outline-none focus:outline-none my-10">
                    post review
                </button>
            </form>
                         
            
        </section>
    </main>

    
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/medium-editor@5.23.3/dist/css/themes/beagle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">



    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/dashboard-sidebar.js"></script>
    <script src="/static/js/medium-editor.js"></script>

</body>
</html>