<%- include('../../partials/head') %>
<body class="relative custom-scrollbar">
    <!-- navbar partial -->
    <%- include('../../partials/navbar') %>
    
    <!-- sidebar partial -->
    <%- include('../../partials/dashboard/dashboard-sidebar') %>
       
    <!-- main body for the article page s-->
<main class="w-full relative min-h-screen h-auto flex items-start">

    <% if (locals.deletedMsg) { %>
    <div id="deletedMsg" class="fixed top-0 left-0 bg-black w-full h-screen z-20 bg-opacity-50 grid place-items-center  transform transition-all scale-0">
        <p class="bg-white shadow-glass p-4 text-lg font-regular text-pink-600 font-semibold capitalize">
            "<%= deletedMsg %>" deleted from the list successfully
        </p>
    </div>
    <% } %>
    <!-- page specific data -->
    <!-- page specific data -->
    <section class="h-full w-full max-w-5xl p-4 mx-auto py-14 md:pl-14">
                    
        <ul class="flex items-start justify-start gap-4 text-xs w-11/12 mx-auto md:mr-auto max-w-5xl mb-5 capitalize mt-2">
            <li
                <% if (activeTab === 0) {%>
                class="text-black font-semibold font-special"
                <% } else { %>
                class="text-gray-400 font-semibold font-special"
                <% } %>>
                <a href="/dashboard/my-articles/<%= blog.blog_id %>" class="outline-none focus:outline-none">
                    Review content
                </a>
            </li>
            <li
            <% if (activeTab === 1) {%>
                class="text-black font-semibold font-special"
                <% } else { %>
                class="text-gray-400 font-semibold font-special"
                <% } %>>
                <a href="/dashboard/my-articles/<%= blog.blog_id %>?tab=2" class="outline-none focus:outline-none">
                    testimonials
                </a>
            </li>
            <li
                <% if (activeTab === 2) {%>
                class="text-black font-semibold font-special"
                <% } else { %>
                class="text-gray-400 font-semibold font-special"
                <% } %>>
                <a href="/dashboard/my-articles/<%= blog.blog_id %>?tab=3" class="outline-none focus:outline-none">
                    delete blog
                </a>
            </li>
        </ul>
        
        <header class="h-auto flex flex-col gap-4 mb-10 border-b border-gray-200 md:w-11/12 md:mx-auto md:gap-10">
            <!--  -->
            <article class="w-full md:relative md:flex md:items-center md:gap-2">
                <section class="shadow-glass p-2 w-full h-auto rounded overflow-hidden md:pb-4 md:w-3/5 md:text-center">
                    <small class="text-xs font-special text-gray-500 font-semibold capitalize md:hidden">
                        title
                    </small>
                    <p class="mt-0.5 font-regular font-semibold block text-black w-full text-lg md:text-xl capitalize">
                        <%= blog.blog_title %>
                    </p>
                </section>
                <h4 class="hidden md:block md:w-2/5 text-right border-b-2 border-current border-dashed capitalize font-semibold font-special">
                    title
                </h4>
            </article>

            <article class="w-full md:relative md:flex md:items-center md:gap-2 flex-row-reverse">
                <section class="shadow-glass p-2 w-full h-auto rounded overflow-hidden md:pb-4 md:w-1/2">
                    <small class="text-xs font-special text-gray-500 font-semibold capitalize md:hidden">
                        analytics
                    </small>
                    <p class="mt-0.5 font-regular italic font-semibold block text-gray-700 w-full text-xs leading-relaxed">
                    <ul class="flex gap-3 w-5/6 justify-between items-center md:mx-auto text-gray-400">
                        <li>
                            <i class="far fa-eye"></i>
                            <small><%= blog.views %></small>
                        </li>
                        <li>
                            <i class="far fa-star"></i>
                            <small>4.5/5 (7)</small>
                        </li>
                        <li>
                            <i class="far fa-calendar-alt"></i>
                            <small><%= new Date(blog.created).toLocaleDateString() %></small>
                        </li>
                    </ul>
                    </p>
                </section>
                <h4 class="hidden md:block md:w-1/2 text-left border-b-2 border-current border-dashed capitalize font-semibold font-special">
                    analytics
                </h4>
            </article>


            <section class="w-full flex items-center justify-center gap-4 my-10">
                <a href="/moovey/<%= blog.blog_id %>" class="px-5 py-1.5 outline-none focus:outline-none border-2 border-dashed border-black text-black  capitalize text-xs hover:bg-black hover:text-white filter drop-shadow-md">
                    open as someone else
                </a>
                <a href="/dashboard/my-articles/<%= blog.blog_id %>/edit" class="px-5 py-1.5 outline-none focus:outline-none border-2 border-dashed border-black text-black  capitalize text-xs hover:bg-black hover:text-white filter drop-shadow-md">
                    edit article
                </a>
            </section>
        </header>


        <section class="mb-5 grid gap-8 px-4">
            <!-- blog content -->
            <article class="w-full md:relative md:flex md:items-start md:gap-2">
                <section class="shadow-glass p-2 w-full h-auto rounded overflow-hidden md:pb-4 md:w-10/12 md:text-center">
                    <div class="mt-0.5 font-special p-4 md:text-base text-left block text-black w-full text-sm capitalize">
                        <h3 class="mb-4 text-black font-regular font-semibold text-sm">Review (<%= readTime %> mins)</h3>
                        <%- blog.blog_content %>
                    </div>
                </section>
                <h4 class="hidden md:block md:w-2/12 text-right border-b-2 border-current border-dashed capitalize font-semibold font-special">
                    review
                </h4>
            </article>
            <!-- blog rating -->
            <article class="w-full md:relative md:flex md:items-center md:gap-2 flex-row-reverse">
                <section class="shadow-glass p-2 w-full h-auto rounded overflow-hidden md:pb-4 md:w-3/5 md:text-right">
                    <small class="text-xs mb-5 font-special text-gray-500 font-semibold capitalize md:hidden">
                        my rating
                    </small>
                    <div class="w-full mb-4">
                        <small class="text-xs font-special text-gray-500 font-semibold capitalize">
                            acting
                        </small>
                        <p class="mt-0.5 font-regular font-semibold block text-black w-full text-xs md:text-sm capitalize">
                            <%= blog.acting %>
                            <%= Object.keys(ratingObj)[Object.values(ratingObj).indexOf(parseInt(blog.acting_rating))] %> <small class="text-xs text-gray-400">(<%= blog.acting_rating %>/5)</small>
                        </p>
                    </div>
                    <div class="w-full mb-4">
                        <small class="text-xs font-special text-gray-500 font-semibold capitalize">
                            plot
                        </small>
                        <p class="mt-0.5 font-regular font-semibold block text-black w-full text-xs md:text-sm capitalize">
                            <%= blog.plot %>
                            <%= Object.keys(ratingObj)[Object.values(ratingObj).indexOf(parseInt(blog.plot_rating))] %> <small class="text-xs text-gray-400">(<%= blog.plot_rating %>/5)</small>
                        </p>
                    </div>
                    <div class="w-full">
                        <small class="text-xs font-special text-gray-500 font-semibold capitalize">
                            direction
                        </small>
                        <p class="mt-0.5 font-regular font-semibold block text-black w-full text-xs md:text-sm capitalize">
                            <%= blog.direction %>
                            <%= Object.keys(ratingObj)[Object.values(ratingObj).indexOf(parseInt(blog.direction_rating))] %> <small class="text-xs text-gray-400">(<%= blog.direction_rating %>/5)</small>
                        </p>
                    </div>
                </section>
                <h4 class="hidden md:block md:w-2/5 text-left border-b-2 border-current border-dashed capitalize font-semibold font-special">
                    my rating
                </h4>
            </article>
            <!-- blog content -->
            <% if (blog.conclusion) {%>
            <article class="w-full md:relative md:flex md:items-center md:gap-2">
                <section class="shadow-glass p-2 w-full h-auto rounded overflow-hidden md:pb-4 md:w-3/5 md:text-center">
                    <small class="text-xs font-special text-gray-500 font-semibold capitalize md:hidden">
                        conclusion
                    </small>
                    <p class="mt-0.5 font-special font-semibold block text-black text-left w-full text-sm capitalize">
                        <%- blog.conclusion %>
                    </p>
                </section>
                <h4 class="hidden md:block md:w-2/5 text-right border-b-2 border-current border-dashed capitalize font-semibold font-special">
                    conclusion
                </h4>
            </article>
            <% } %>
        </section>
    </section>
        
    </main>

    
    <script src="/static/js/dashboard-sidebar.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/deleteListDeleteMsg.js"></script>

</body>
</html>