<%- include('../../partials/head') %>
<body class="font-special relative w-full h-full custom-scrollbar">

<%- include('../../partials/navbar') %>


<%- include('../../partials/dashboard/dashboard-sidebar') %>

<header class="pt-20"></header>

<main id="main" class="md:pl-8 filter flex flex-col w-11/12 mx-auto h-full min-h-screen ">
    
        <a href="/dashboard/my-lists/new" class="bg-black focus:outline-none hover:-translate-y-px hover:scale-105 mb-6 outline-none px-4 py-2 text-white text-xs transform transition-all block mx-auto w-max hover:shadow-lg">Create New List
        </a>
        <!-- items list -->
        <div class="w-full md:px-4 max-w-6xl mx-auto flex flex-col gap-6 my-4">
            <% lists.forEach((list, index) => { %>
                <% if (index % 2 === 0) { %>
                <!-- even article -->
                    <section class="flex flex-col w-full gap-3 text-left md:text-left">
                        <article class="relative shadow-glass p-4 rounded-md w-full md:w-5/6 max-w-prose mr-auto grid gap-y-2 bg-white">
                            <section class="flex flex-col w-full gap-0.5 max-w-md">
                                <small class="text-xs font-special text-gray-500 font-semibold capitalize">
                                    title
                                </small>
                                <p class="font-regular font-semibold block text-black w-full capitalize">
                                    <%= list.title %>
                                </p>
                            </section>
                            <ul class="flex gap-4 text-gray-500 text-xs font-special p-0.5 items-center justify-between w-max">
                                <li>
                                    <i class="far fa-eye"></i>
                                    <span><%= list.views %></span>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                    <span>3.5/5 (125)</span>
                                </li>
                                <li>
                                    <i class="far fa-calendar-alt"></i>
                                    <span>
                                        <%= new Date(list.date_created).toLocaleDateString() %>
                                    </span>
                                </li>
                            </ul>
                            <section class="flex flex-col w-full gap-0.5">
                                <small class="text-xs font-special text-gray-500 font-semibold capitalize">
                                    description
                                </small>
                                <p class="font-regular italic font-semibold block text-black w-full text-xs leading-relaxed">
                                    <% if (list.l_desc ) { %>
                                        <%= list.l_desc %>
                                    <% } else {%>
                                        No description available
                                    <% } %>
                                </p>
                            </section>
                        </article>
                        <ul class="flex flex-col gap-1 items-center justify-center md:flex-row md:justify-start px-2 md:gap-x-6">
                            <li class="text-xs text-gray-500 capitalize font-regular font-semibold">
                                <a href="/dashboard/my-lists/<%= list.lid %>" class="outline-none focus:outline-none hover:text-pink-600">
                                    open list
                                </a>
                            </li>
                        </ul>
                    </section>
                <% } else {%>
                <!-- odd article -->
                    <section class="flex flex-col w-full gap-3 text-left md:text-right">
                        <article class="relative shadow-glass p-4 rounded-md w-full md:w-5/6 max-w-prose ml-auto  grid gap-y-2 bg-white">
                            <section class="flex flex-col w-full gap-0.5 max-w-md md:ml-auto">
                                <small class="text-xs font-special text-gray-500 font-semibold capitalize">
                                    title
                                </small>
                                <p class="font-regular font-semibold block text-black w-full capitalize">
                                    <%= list.title %>
                                </p>
                            </section>
                            <ul class="flex gap-4 text-gray-500 text-xs font-special p-0.5 items-center justify-between w-max md:ml-auto">
                                <li>
                                    <i class="far fa-eye"></i>
                                    <span><%= list.views %></span>
                                </li>
                                <li>
                                    <i class="far fa-star"></i>
                                    <span>3.5/5 (125)</span>
                                </li>
                                <li>
                                    <i class="far fa-calendar-alt"></i>
                                    <span>
                                        <%= new Date(list.date_created).toLocaleDateString() %>
                                    </span>
                                </li>
                            </ul>
                            <section class="flex flex-col w-full gap-0.5">
                                <small class="text-xs font-special text-gray-500 font-semibold capitalize">
                                    description
                                </small>
                                <p class="font-regular italic font-semibold block text-black w-full text-xs leading-relaxed">
                                    <% if (list.l_desc) { %>
                                        <%= list.l_desc %>
                                    <% } else {%>
                                        No description available
                                    <% } %>
                                </p>
                            </section>
                        </article>
                        <ul class="flex flex-col gap-1 items-center justify-center md:flex-row md:justify-end px-2 md:gap-x-6">
                            <li class="text-xs text-gray-500 capitalize font-regular font-semibold">
                                <a href="/dashboard/my-lists/<%= list.lid %>" class="outline-none focus:outline-none hover:text-pink-600">
                                    open list
                                </a>
                            </li>
                        </ul>
                    </section>
                <% } %>
            <% }) %>
        </div>



<div class="mt-auto">
    <%- include('../../partials/pagination') %>
</div>
        
    </main>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/dashboard-sidebar.js"></script>
</body>
</html>