<%- include('../../partials/head') %>

<body class="min-h-screen font-regular relative custom-scrollbar">
    <!-- navbar -->
    <%- include('../../partials/navbar')%>
    
    <!-- dashboard -->
    <%- include('../../partials/dashboard/dashboard-sidebar')%>
    
    <main class="w-full relative h-screen flex items-start md:pl-10">
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 w-11/12 mx-auto">
            <%- include('../../partials/movie_thumbnail') %>
            <%- include('../../partials/movie_thumbnail') %>
            <%- include('../../partials/movie_thumbnail') %>
            <%- include('../../partials/movie_thumbnail') %>
            <%- include('../../partials/movie_thumbnail') %>
        </div>
        
    </main>
        
    
    <script src="/static/js/dashboard-sidebar.js"></script>
    <script src="/static/js/navbar.js"></script>

</body>
</html>