<%- include('../../partials/head') %>

<body class="min-h-screen font-regular relative custom-scrollbar">
    <!-- navbar -->
    <%- include('../../partials/navbar') %>
    
    <!-- dashboard -->
    <%- include('../../partials/dashboard/dashboard-sidebar') %>
    
    <!-- list header -->
    <% if (step === 1) { %>
    <header>
        <%- include('../../partials/dashboard/search-movie') %>
    </header>
    <% } %>
    
    <% if (step === 2) { %>
    <main class="w-full relative h-screen flex items-start md:pl-10">
        <%- include('../../partials/dashboard/search-result', {data, keyword: locals.keyword}) %>
    </main>
    <% } %>
            
    <script src="/static/js/dashboard-sidebar.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/dashboard-search-form.js"></script>

</body>
</html>