<%- include('../partials/head') %>

<!-- <style>
    #detach-button-host {display:  none;}
    #crudForm  textarea  {
        white-space: pre-wrap;
    }
    #recommend + label::after {
        border-radius: 50%;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        width: 80%;
        background: lightgray;
    }
    #recommend + label::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 45%;
        width: 45%;
        background: transparent;
        z-index: 2;
        border-radius: 50%;
        transition: all .5s ease;
    }
    #recommend + label{
        background: lightslategray;
    }
    #recommend:checked + label, #recommend:checked + label::before {
        background: deeppink;
    }
</style> -->


<body class="font-regular relative py-8 flex flex-col items-center justify-center h-screen min-h-screen bg-black">
<video 
    oncontextmenu="return false" 
    class="fixed top-0 left-0 h-screen w-screen object-cover opacity-40" 
    poster="../poster.jpg"  
    autoplay 
    muted 
    loop>
    <source media="(min-width: 768px)" src="/static/assets/video.mp4" type="video/mp4">
</video>

<div class="flex w-5/6 justify-around max-w-md lg:max-w-4xl mx-auto items-center mt-2 mb-4 z-10">
    <button id="goBackBtn" class="text-white outline-none focus:outline-none">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
    </button>
    <h1 id="sectionTitle" 
    class="text-center flex-1 uppercase text-xs sm:text-sm lg:text-lg tracking-wider leading-3 font-light text-white"></h1>
    <form action="/logout" method="GET">
        <button type="submit" class="uppercase text-xs text-white flex items-center outline-none focus:outline-none">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
            <span class="hidden lg:block lg:ml-1">log out</span>
        </button>
    </form>
</div>
    
<div class="z-10 w-full h-full flex flex-col items-center justify-center shadow-2xl">
    <form id="crudForm" class="block h-full w-4/5 max-w-md mx-auto lg:max-w-4xl relative overflow-hidden rounded-md bg-white bg-opacity-70">
        <!-- section 1 -->
        <section class="crudWindow translate-x-0 transform transition-all h-full w-full absolute top-0 left-0 flex items-center justify-center overflow-hidden bg-black bg-opacity-80 group shadow-2xl">
            <button title="Meta" type="button" class="absolute bottom-4 opacity-0 group-hover:opacity-100 text-white outline-none focus:outline-none hover:scale-110 transform transition-all lg:hidden z-20 movieInfoToggler">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7"></path></svg>
            </button>
            <img class="h-full w-full max-w-md object-cover lg:object-cover block lg:w-5/12 lg:flex-shrink-0 group-hover:opacity-50 lg:group-hover:opacity-100 transition-all duration-150" 
            src="<% if(data.metadata.poster === 'N/A') { %> /static/assets/placeholder.jpg <% } else {%><%= data.metadata.poster %><% } %>" alt="<%= data.title %>">
        
            <article id="movieInfo" class="z-30 bg-gradient-to-b from-white to-pink-100 absolute p-4 transform transition-all translate-y-full h-full w-full flex-1 flex flex-col justify-evenly overflow-y-auto lg:w-7/12 lg:flex-shrink-0 lg:relative lg:translate-y-0 lg:to-white lg:justify-around">
                
            <button type="button" class="absolute lg:hidden top-4 left-1/2 -translate-x-1/2 text-black outline-none focus:outline-none hover:scale-110 transform transition-all movieInfoToggler">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7"></path></svg>
                </button>

            <div class="flex flex-col">
                <span class="capitalize text-gray-600 font-semibold text-sm">title</span>
                <strong class="capitalize text-gray-700 lg:text-gray-700 font-light text-sm">
                    <%= data.metadata.title %> (<%= data.metadata.year %>)
                </strong>
            </div>
            <div class="flex flex-col">
                <span class="capitalize text-gray-600 font-semibold text-sm">released</span>
                <strong class="capitalize text-gray-700 lg:text-gray-700 font-light text-sm">
                    <%= data.metadata.released %>
                </strong>
            </div>
            <div class="flex flex-col">
                <span class="capitalize text-gray-600 font-semibold text-sm">starring</span>
                <strong class="capitalize text-gray-700 lg:text-gray-700 font-light text-sm">
                    <%= data.metadata.actors %>
                </strong>
            </div>
            <div class="flex flex-col">
                <span class="capitalize text-gray-600 font-semibold text-sm">plot</span>
                <strong class="capitalize text-gray-700 lg:text-gray-700 font-light text-sm">
                    <%= data.metadata.plot %>
                </strong>
            </div>
            <% if(data.metadata?.imdbrating) { %>
            <div class="flex flex-col">
                <span class="capitalize text-gray-600 font-semibold text-sm">imdbRating</span>
                <strong class="capitalize text-gray-700 lg:text-gray-700 font-light text-sm">
                    <%= data.metadata.imdbrating %>
                </strong>
            </div>
            <% } %>
            <% if(data.metadata?.metascore) { %>
            <div class="flex flex-col">
                <span class="capitalize text-gray-600 font-semibold text-sm">metascore</span>
                <strong class="capitalize text-gray-700 lg:text-gray-700 font-light text-sm">
                    <%= data.metadata.metascore %>
                </strong>
            </div>
            <% } %>
            <button data-nav="next" type="button" class="hidden lg:flex bg-gray-800 text-gray-200 hover:bg-black hover:text-white w-max shadow transform transition-all hover:-translate-y-1 hover:scale-105 hover:shadow-lg items-center px-5 py-3 mx-auto text-xs uppercase rounded">
                <span class="mr-1">
                    start your review 
                </span>
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </button>
            </article>

            <button data-nav="next" type="button" class="z-20 absolute left-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2 tracking-wider border-b-2 border-transparent text-gray-400 uppercase leading-7 opacity-0 hover:text-white hover:border-current group-hover:opacity-100 lg:group-hover:opacity-0 transition-all duration-150 rounded-sm outline-none focus:outline-none flex items-center lg:hidden text-sm">
                <span class="mr-1">
                    start your review 
                </span>
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </button>

        </section>
    
        <!-- section 2 -->
        <section class="crudWindow translate-x-full p-4 bg-gray-100 bg-opacity-60 transform transition-all h-full w-full absolute top-0 left-0 shadow-2xl flex flex-col justify-center items-center">
            <article class="flex flex-col items-start w-full mx-auto max-w-3xl">
                <label for="title" class=" text-gray-700 block text-xs w-max capitalize tracking-wide">your article's title</label>
                <input 
                    type="text" 
                    name="title" 
                    id="title" 
                    required
                    autocomplete="off"
                    placeholder="Eg: A masterpiece for tomorrow"
                    class="outline-none focus:outline-none shadow-md focus:shadow-2xl transform rounded-md p-2 mt-2 w-full mx-auto transition-all focus:placeholder-gray-500 text-sm">
                <small class="mt-1 font-semibold capitalize text-pink-600 text-xs"></small>
            </article>
            <article class="h-5/6 flex flex-col items-Start w-full mt-4 mx-auto max-w-3xl">
                <div class="flex items-center justify-between w-full text-gray-700">
                    <label for="blogBody" class="block text-xs w-max capitalize tracking-wide">your review</label>
                    <small id="blogCount" class="text-black text-xs"></small>
                </div>
                <textarea 
                    type="text" 
                    name="blogBody" 
                    id="blogBody" 
                    autocomplete="off"
                    placeholder="Start typing here.."
                    class="block mt-4 outline-none focus:outline-none shadow-md focus:shadow-2xl rounded-md  transform p-2 w-full mx-auto transition-all h-full resize-none focus:placeholder-gray-500 text-sm"></textarea>
                <small class="mt-1 font-semibold capitalize text-pink-600 text-xs"></small>
                <div class="flex items-center justify-between w-full max-w-xs mx-auto">
                    <button data-nav="prev" type="button" class="block mx-auto my-5 px-6 py-2 bg-black rounded shadow outline-none focus:outline-none text-gray-300 capitalize hover:shadow-lg hover:text-gray-100 text-sm hover:-translate-y-px hover:scale-105 transform transition-all">prev</button>
                    <button id="formMainContent" data-nav="next" type="button" class="block mx-auto my-5 px-6 py-2 bg-black rounded shadow outline-none focus:outline-none text-gray-300 capitalize hover:shadow-lg hover:text-gray-100 text-sm hover:-translate-y-px hover:scale-105 transform transition-all">next</button>
                </div>
                </article>
        </section>
    
        <!-- section 3 -->
        <section class="crudWindow translate-x-full transform bg-gray-100 bg-opacity-80 transition-all h-full w-full absolute top-0 left-0 shadow-2xl flex flex-col py-8">
            <strong class="block text-gray-600 uppercase w-max mx-auto tracking-wider mb-6 text-center">
                rate the movie
            </strong>
            <div class="flex flex-col my-1 justify-between items-center max-w-sm mx-auto w-full mb-auto">
                <div class="ratingGroup my-2 flex flex-col justify-between items-center w-full">
                    <span class="text-gray-500 uppercase text-xs lg:text-gray-700 lg:text-sm">direction</span>
                    <ul class="mb-1 mx-auto flex items-center justify-center w-full flex-1 max-w-xl">
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="1">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="2">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="3">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="4">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="5">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="6">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="7">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="8">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="9">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-direction="10">&starf;</li>
                    </ul>
                    <small class="italic text-xs font-semibold capitalize text-gray-500"></small>
                </div>
                <div class="ratingGroup my-2 flex flex-col justify-between items-center w-full">
                    <span class="text-gray-500 uppercase text-xs lg:text-gray-700 lg:text-sm">acting</span>
                    <ul class="mb-1 mx-auto flex items-center justify-center w-full flex-1 max-w-xl">
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="1">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="2">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="3">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="4">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="5">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="6">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="7">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="8">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="9">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-acting="10">&starf;</li>
                    </ul>
                    <small class="italic text-xs font-semibold capitalize text-gray-500"></small>
                </div>
                <div class="ratingGroup my-2 flex flex-col justify-between items-center w-full">
                    <span class="text-gray-500 uppercase text-xs lg:text-gray-700 lg:text-sm">plot</span>
                    <ul class="mb-1 mx-auto flex items-center justify-center w-full flex-1 max-w-xl">
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="1">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="2">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="3">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="4">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="5">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="6">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="7">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="8">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="9">&starf;</li>
                        <li class="m-0 5 text-xl text-pink-600 cursor-pointer hover:scale-110 transform transition-all" data-plot="10">&starf;</li>
                    </ul>
                    <small class="italic text-xs font-semibold capitalize text-gray-500"></small>
                </div>

                <div class="flex flex-col items-center mt-8 mb-4">
                    <strong class="block text-gray-600 uppercase w-max mx-auto tracking-wider text-center">
                        overall rating
                    </strong>
                    <ul class="my-1 mx-auto flex items-center justify-center lg:justify-end w-full flex-1 max-w-xl">
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="1">&starf;</li>
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="2">&starf;</li>
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="3">&starf;</li>
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="4">&starf;</li>
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="5">&starf;</li>
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="6">&starf;</li>
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="7">&starf;</li>
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="8">&starf;</li>
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="9">&starf;</li>
                        <li class="m-0 5 text-3xl text-pink-600 cursor-default" data-rate="10">&starf;</li>
                    </ul>
                    <small class="italic text-base font-semibold capitalize text-gray-600"></small>
                </div>
    
                <div class="flex items-center">
                    <span class="mr-2 text-sm capitalize my-4 text-gray-500">do you recommend this movie?</span>
                    <input type="checkbox" name="recommend" id="recommend" class="hidden">
                    <label for="recommend" class="h-5 w-5 cursor-pointer relative rounded-full"></label>
                </div>


            </div>
            <div class="flex items-center justify-between w-full max-w-xs mx-auto">
                <button data-nav="prev" type="button" class="block mx-auto my-5 px-6 py-2 bg-black rounded shadow outline-none focus:outline-none text-gray-300 capitalize hover:shadow-lg hover:text-gray-100 text-sm hover:-translate-y-px hover:scale-105 transform transition-all">prev</button>
                <button type="submit" class="px-4 py-2 bg-black rounded shadow outline-none focus:outline-none text-gray-300 capitalize hover:shadow-lg w-max mx-auto hover:text-gray-100 text-sm hover:-translate-y-px hover:scale-105 transform transition-all">publish</button>
            </div>
        </section>      
    </form>
</div>

    <script src="/static/js/blogCreate.js"></script>
</body>
</html>
