<%- include('../partials/head') %>

<body class="relative h-full w-full font-regular min-h-screen overflow-x-hidden">
<video 
    preload="auto"
    oncontextmenu="return false" 
    class="pointer-events-none fixed top-0 left-0 h-screen w-screen object-cover opacity-10" 
    autoplay 
    muted 
    loop>
    <source src="/static/assets/video.mp4" type="video/mp4">
</video>

<section class="accountModalBox transform origin-center transition-all fixed top-0 left-0 h-screen w-full flex items-center justify-center bg-black z-30 

    <% if(isRegisterMode || isLoginMode) { %> 
        <%= 'scale-100' %> 
    <% } else { %> 
        <%= 'scale-0' %> 
    <% } %>
    
    ">
    <% if(redirect) { %>
    <span class="absolute top-0 left-0 w-full p-3 bg-gradient-to-r from-pink-600 to-purple-700 text-white text-sm font-special capitalize block text-center">
        <%= redirect %>
    </span>
    <% } %>

    <div class="flex items-start justify-center h-3/4 w-4/5 max-w-lg lg:max-w-4xl mx-auto overflow-hidden relative bg-gradient-to-br from-pink-600 to-purple-700 rounded">
        <video autoplay loop muted preload="auto" class="absolute top-0 left-0 h-full w-full block object-cover opacity-5 pointer-events-none lg:hidden">
            <source src="/static/assets/video.mp4" type="video/mp4">
        </video>

        <div class="flex z-50 items center w-full top-0 left-0 justify-end pr-4 pt-2 absolute">
            <button type="button" class="hideModal text-3xl outline-none focus:outline-none hover:text-black">
                &times;
            </button>
        </div>

        <!-- login form -->
        <section class="accountModal flex items-center z-40 absolute top-0 right-0 transform w-full h-full transition-all duration-500 text-white origin-center ease-out <% if (isLoginMode) {%> <%= 'scale-100 pointer-events-auto'%> <%} else { %><%= 'scale-0 pointer-events-none'%> <% } %>">
            <section class="hidden lg:flex absolute top-0 left-0 w-1/2 h-full">
                <video autoplay loop muted preload="auto" class="absolute top-0 left-0 h-full w-full block object-cover opacity-5 pointer-events-none">
                    <source src="/static/assets/video.mp4" type="video/mp4">
                </video>
                <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-full flex items-center justify-center text-white flex-col w-full">
                    <strong class="tracking-tighter border-2 py-0.5 px-1.5 border-current flex-shrink-0 font-light text-lg cursor-pointer">
                        moovey••
                    </strong>
                    
                    <div class="flex items-center justify-center flex-col origin-center duration-500 transition-all">
                        <span class="text-2xl capitalize font-light font-special my-4">
                            dont have an account?
                        </span>
                        <button type="button" class="accountModeToggler capitalize inline-block outline-none focus:outline-none">create account now</button>
                        <a href="/forgot-password" class=" my-1 capitalize inline-block outline-none focus:outline-none">
                            forgot password
                        </a>
                    </div>
                </div>        
            </section>
            <!-- form content -->
            <form class="absolute top-0 right-0 z-40 w-full h-full mx-auto px-6 py-8 text-center flex flex-col justify-between lg:w-1/2 lg:bg-white lg:text-pink-600"
                action="/login" 
                method="POST" 
                autocomplete="new-password">
                <div class="flex-1 h-full flex flex-col items-center justify-start w-full">
                    <h2 class="my-2 text-2xl tracking-wide w-max mx-auto pb-1 uppercase font-special">
                        login
                    </h2>
                    <% if(isLoginMode && errorMsg) { %>
                    <small class="text-xs text-center block mx-auto mb-2 text-black tracking-wider font-semibold capitalize transform transition-all -translate-y-ull opacity-100 pointer-events-none bg-gray-50 p-1.5 shadow-lg">
                        <!-- error message if any -->
                        <%= errorMsg %>
                    </small>
                    <% } %>
                    <div class="flex flex-1  flex-col items-center justify-start w-full mt-4">
                        <section class="flex flex-col-reverse items-start w-full justify-center">
                            <input 
                                type="text" 
                                name="loginEmail" 
                                id="loginEmail" 
                                placeholder="Your email ID"
                                autocomplete="username"
                                class="w-full block p-1.5 rounded-sm shadow-lg bg-purple-300 bg-opacity-30 my-2 transform focus:outline-none outline-none focus:scale-x-105 focus:shadow-lg transition-all text-sm text-gray-50 opacity-60 focus:opacity-100 placeholder-gray-300 font-light lg:bg-transparent lg:shadow-none lg:border-b-2 lg:border-gray-400 lg:focus:border-pink-600 lg:focus:scale-x-100 lg:focus:shadow-none lg:focus:placeholder-pink-600 lg:text-gray-700 lg:placeholder-gray-600">
                            <label for="loginEmail" class="text-xs lg:text-gray-600 text-gray-50 tracking-wider uppercase">Email</label>
                        </section>
                        <section class="flex flex-col-reverse items-start w-full justify-center my-2 relative">
                            <input 
                                type="password" 
                                name="loginPassword" 
                                id="loginPassword" 
                                placeholder="Your password"
                                autocomplete="current-password"
                                class="w-full block p-1.5 rounded-sm shadow-lg bg-purple-300 bg-opacity-30 my-2 transform focus:outline-none outline-none focus:scale-x-105 focus:shadow-lg transition-all text-sm text-gray-50 opacity-60 focus:opacity-100 placeholder-gray-300 font-light lg:bg-transparent lg:shadow-none lg:border-b-2 lg:border-gray-400 lg:focus:border-pink-600 lg:focus:scale-x-100 lg:focus:shadow-none lg:focus:placeholder-pink-600 lg:text-gray-700 lg:placeholder-gray-600">
                            <label for="loginPassword" class="text-xs lg:text-gray-600 text-gray-50 tracking-wider uppercase">password</label>
                            <button data-target="login" type="button" class="showHidePassword absolute right-0 top-1/2 transform -translate-y-0.5 -translate-x-1/2 outline-none focus:outline-none text-gray-500 hover:text-black transition-colors">
                                <svg class="eye w-5 h-5 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg>
                                <svg class="eye w-5 h-5 block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path></svg>
                            </button>
                        </section>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <button type="submit" class="outline-none focus:outline-none px-6 py-2 bg-black text-gray-300 text-sm uppercase hover:shadow-lg transform transition-all hov:-translate-y-px hover:scale-110 my-4 rounded-sm">
                        login
                    </button>
                    <a href="/forgot-password" class="capitalize mb-0.5 text-xs text-gray-200 lg:text-gray-500 block outline-none focus:outline-none lg:hidden">
                        forgot password?
                    </a>
                    <span class="text-xs text-gray-200 lg:text-gray-500 block lg:hidden">
                        New user?
                        <button type="button" class="accountModeToggler capitalize inline-block outline-none focus:outline-none">
                            click here
                        </button>
                    </span>
                </div>
            </form>
        </section>

        <!-- register form -->
        <section class="accountModal flex items-center z-40 absolute top-0 left-0 transform w-full h-full transition-all duration-500 text-white origin-centerease-out <% if (isRegisterMode) {%> <%= 'scale-100 pointer-events-auto'%> <%} else { %><%= 'scale-0 pointer-events-none'%> <% } %>">
            <section class="hidden lg:flex absolute top-0 right-0 w-1/2 h-full">
                <video autoplay loop muted preload="auto" class="absolute top-0 right-0 h-full w-full block object-cover opacity-5 pointer-events-none">
                    <source src="/static/assets/video.mp4" type="video/mp4">
                </video>
                <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-full flex items-center justify-center text-white flex-col w-full">
                    <strong class="tracking-tighter border-2 py-0.5 px-1.5 border-current flex-shrink-0 font-light text-lg cursor-pointer">
                        moovey••
                    </strong>
                    
                    <div class="flex items-center justify-center flex-col origin-center duration-500 transition-all">
                        <span class="text-2xl capitalize font-light font-special my-4">
                            already have an account?
                        </span>
                        <button type="button" class="accountModeToggler capitalize inline-block outline-none focus:outline-none">login now</button>
                    </div>
                </div>        
            </section>
            <!-- form content -->
            <form 
                action="/register" 
                method="POST" 
                autocomplete="new-password"
                class="absolute top-0 left-0 z-40 w-full h-full mx-auto px-6 py-8 text-center flex flex-col justify-between lg:w-1/2 lg:bg-white lg:text-pink-600">
                <div class="flex-1 h-full flex flex-col items-center justify-start w-full">
                    <h2 class="my-2 text-2xl tracking-wide w-max mx-auto pb-1 uppercase font-special">
                        register
                    </h2>
                    <% if(isRegisterMode && errorMsg) { %>
                    <small class="text-xs text-center block mx-auto mb-2 text-black tracking-wider font-semibold capitalize transform transition-all -translate-y-ull opacity-100 pointer-events-none bg-gray-50 p-1.5 shadow-lg">
                        <!-- error message if any -->
                        <%= errorMsg %>
                    </small>
                    <% } %>
                    <div class="flex flex-1  flex-col items-center justify-start w-full mt-4">
                        <section class="flex flex-col-reverse items-start w-full justify-center">
                            <input 
                                type="text" 
                                name="registerName" 
                                id="name" 
                                placeholder="Your name"
                                class="w-full block p-1.5 rounded-sm shadow-lg bg-purple-300 bg-opacity-30 my-2 transform focus:outline-none outline-none focus:scale-x-105 focus:shadow-lg transition-all text-sm text-gray-50 opacity-60 focus:opacity-100 placeholder-gray-300 font-light lg:bg-transparent lg:shadow-none lg:border-b-2 lg:border-gray-400 lg:focus:border-pink-600 lg:focus:scale-x-100 lg:focus:shadow-none lg:focus:placeholder-pink-600 lg:text-gray-700 lg:placeholder-gray-600">
                            <label for="name" class="text-xs lg:text-gray-600 text-gray-50 tracking-wider uppercase">Name</label>
                        </section>
                        <section class="flex flex-col-reverse items-start w-full justify-center">
                            <input 
                                type="text" 
                                name="registerEmail" 
                                id="email" 
                                placeholder="Your email ID"
                                autocomplete="username"
                                class="w-full block p-1.5 rounded-sm shadow-lg bg-purple-300 bg-opacity-30 my-2 transform focus:outline-none outline-none focus:scale-x-105 focus:shadow-lg transition-all text-sm text-gray-50 opacity-60 focus:opacity-100 placeholder-gray-300 font-light lg:bg-transparent lg:shadow-none lg:border-b-2 lg:border-gray-400 lg:focus:border-pink-600 lg:focus:scale-x-100 lg:focus:shadow-none lg:focus:placeholder-pink-600 lg:text-gray-700 lg:placeholder-gray-600">
                            <label for="email" class="text-xs lg:text-gray-600 text-gray-50 tracking-wider uppercase">Email</label>
                        </section>
                        <section class="flex flex-col-reverse items-start w-full justify-center my-2 relative">
                            <input 
                                type="password" 
                                name="registerPassword" 
                                id="password" 
                                placeholder="Your password"
                                autocomplete="new-password"
                                class="w-full block p-1.5 rounded-sm shadow-lg bg-purple-300 bg-opacity-30 my-2 transform focus:outline-none outline-none focus:scale-x-105 focus:shadow-lg transition-all text-sm text-gray-50 opacity-60 focus:opacity-100 placeholder-gray-300 font-light lg:bg-transparent lg:shadow-none lg:border-b-2 lg:border-gray-400 lg:focus:border-pink-600 lg:focus:scale-x-100 lg:focus:shadow-none lg:focus:placeholder-pink-600 lg:text-gray-700 lg:placeholder-gray-600">
                            <label for="password" class="text-xs lg:text-gray-600 text-gray-50 tracking-wider uppercase">password</label>
                            <button data-target="register" type="button" class="showHidePassword absolute right-0 top-1/2 transform -translate-y-0.5 -translate-x-1/2 outline-none focus:outline-none text-gray-500 hover:text-black transition-colors">
                                <svg class="eye w-5 h-5 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg>
                                <svg class="eye w-5 h-5 block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path></svg>
                            </button>
                        </section>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <button type="submit" class="outline-none focus:outline-none px-6 py-2 bg-black text-gray-300 text-sm uppercase hover:shadow-lg transform transition-all hov:-translate-y-px hover:scale-110 my-4 rounded-sm">
                        register
                    </button>
                    <span class="text-xs capitalize text-gray-200 lg:text-gray-500 block lg:hidden">
                        Existing user?
                        <button type="button" class="accountModeToggler inline-block outline-none focus:outline-none">
                            click here
                        </button>
                    </span>
                </div>
            </form>
        </section>

    </div>
</section>

<%- include('../partials/navbar') %>


<header class="h-screen bg-gradient-to-r from-pink-600 to-purple-700 flex flex-col items-center justify-center pb-8">
    <section class="flex flex-1 flex-col mx-auto justify-center items-start w-5/6 max-w-md md:items-center">
        <div class="flex flex-col items-start">
            <h1 class="font-special text-4xl lowercase font-light text-white">
                <span>moovey</span>
                <div class="inline-flex animate-spin origin-center w-5 justify-between">
                    <small class="inline-block animate-pulse">•</small>
                    <small class="inline-block animate-pulse">•</small>
                </div>
            </h1>
            <span class="text-gray-200 mt-1 text-sm font-special tracking-wide font-light capitalize italic md:text-base">
                a place for cinephiles
            </span>
            <p class="text-xs text-gray-300 my-4 md:text-sm">
                Join the network of reviewers from all over the world. Read reviews about good movies of all languages, genres etc before watching it. Write a review after watching a movie. Recommend and promote good movies to other people.  
            </p>
            <button type="button" class="showLoginModal block font-special group-hover:text-white transition-all rounded-sm transform hover:-translate-y-px hover:scale-110 text-sm uppercase bg-black text-gray-300 z-10 py-2 px-8 outline-none focus:outline-none">log in</button>
        </div>
    </section>

    <a href="#main" class="text-sm rounded capitalize font-semibold text-white animate-bounce outline-none focus:outline-none flex items-center">
        <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 17l-4 4m0 0l-4-4m4 4V3"></path></svg>
        <span class="hidden">next</span>
    </a>
</header>

<main id="main" class="w-full min-h-screen justify-center p-4 items-center flex-col">
    <section class="w-11/12 mx-auto max-w-3xl">
        
        <article class="carousel my-6 border-b p-2">
            <h2 class="font-special capitalize tracking-wider text-pink-600 font-light text-xl my-4 flex items-center justify-start md:text-2xl">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span class="mx-1">
                    about moovey
                </span>
            </h2>
            <blockquote class="mb-2 text-black w-full">
                <div class="flex flex-col items-start">
                    <img src="/static/assets/lq.svg" alt="left font-special quote mark" class="h-4 w-4 inline-block">
                    <span class="italic text-sm my-2.5 inline-block">I have a very simple definition of a good movie: a good movie makes you forget you're watching a movie
                </div>
                <h3 class="capitalize text-sm">&mdash; michael cimino</h3>
            </blockquote>
            <p class="text-sm text-gray-500 transform duration-300 transition-all text-left capitalize md:text-base">
                there are over 500,000 movies in existence. it simply isn't possible to watch all the movies ever made. with moovey you can decide whether to watch a movie or not. search a movie by title. read the reviewes without the spoilers. decide for yourself whether it is worth your time or not. read reviews and write reviewes to recommend and promote good movies from across the world.  
            </p>
        </article>

        <article class="carousel my-6 border-b p-2">
            <h2 class="font-special capitalize tracking-wider text-pink-600 font-light text-xl text-right my-4 flex items-center justify-end md:text-2xl">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path></svg>
                <span class="mx-1">
                    read and write reviews
                </span>
            </h2>
            <p class="text-sm text-gray-500 transform duration-300 transition-all text-right capitalize md:text-base">
                moovey provides you a platform to write reviews of a huge array of movies. read other reviewers' reviews. rate other reviewers' reviews. be it movies, anime, web shows, tv series, documentaries, we've got you. before committing to watch a movie, read the review. once you watch a movie, review it. be the best reviewer by accurately reviewing good cinema.
            </p>
            <a href="/moovey/blogs" class="carouselLink duration-1000 text-pink-700 text-sm border-b border-transparent hover:border-current hover:shadow-md hover:scale-x-110 transform transition-all my-2 mx-auto block w-max text-center font-special capitalize">our reviews</a>
        </article>
        <article class="carousel my-6 border-b p-2">
            <h2 class="font-special capitalize tracking-wider text-pink-600 font-light text-xl text-left my-4 flex items-center justify-start md:text-2xl">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path></svg>
                <span class="mx-1">
                    moovey lists
                </span>
            </h2>
            <p class="text-sm text-gray-500 transform duration-300 transition-all text-left md:text-base capitalize">
                start creating your own lists. be it your all time favorite movies, worst movies you ever watched, top 10 movies on the world wars, best animes to watch.. you get the gist. create as many lists as you want. for you and for others. moovey believes that best way to promote good cinema is by creating lists. 
            </p>
            <a href="/moovey/lists" class="carouselLink duration-1000 text-pink-700 text-sm border-b border-transparent hover:border-current hover:shadow-md hover:scale-x-110 transform transition-all my-2 mx-auto block w-max text-center font-special capitalize">our lists</a>
        </article>
        <article class="carousel my-6 border-b p-2">
            <h2 class="font-special capitalize tracking-wider text-pink-600 font-light text-xl text-left my-4 flex items-center justify-end md:text-2xl">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                <span class="mx-1">
                    be a reviewer
                </span>
            </h2>
            <p class="text-sm text-gray-500 transform duration-300 transition-all text-right md:text-base capitalize">
                the more you write reviews and create lists the faster you become the top moovey reviewer. with every review you write you are helping fellow moovie user to watch good movies. let's unearth the hidden gems of cinema from across the world.
            </p>
            <a href="/reviewers" class="carouselLink duration-1000 text-pink-700 text-sm border-b border-transparent hover:border-current hover:shadow-md hover:scale-x-110 transform transition-all my-2 mx-auto block w-max text-center font-special capitalize">our reviewers</a>
        </article>
    </section>
    <div id="mainEnd" class="h-72 flex items-center justify-center transform duration-500 transition-all ease-in">
        <div class="cta my-10 mx-auto flex flex-col items-center justify-center w-max relative group">
            <div class="absolute bg-opacity-50 top-0 left-0 w-full h-full bg-gray-500 z-0 animate-ping group-hover:bg-pink-600"></div>
            <button type="button" class="showRegisterModal block font-special group-hover:text-white transition-all rounded-sm transform hover:-translate-y-px hover:scale-110 text-xl uppercase bg-black text-gray-300 z-10 py-4 px-10">join now</button>
            <small class="text-xs text-gray-400 mt-1.5 capitalize">join now to be a reviewer</small>
        </div>
    </div>
</main>

<script src="/static/js/index.js"></script>
<script src="/static/js/landing.js"></script>
<%- include('../partials/footer') %>

