<%- include('../partials/head')%>
<body class="min-h-screen font-regular relative overflow-x-hidden">
    <%- include('../partials/fixed_video_bg') %>
    <!-- navbar -->
    <%- include('../partials/navbar')%>
    <!-- header -->
    <header class="min-h-screen mt-5 py-10 flex flex-col items-center justify-center relative">
        <div class="list-detail__appear transform scale-0 transition-all list-detail__appear--2 flex flex-col items-center justify-center text-gray-500 text-sm">
            <strong class="capitalize font-title">
                created on
            </strong>
            <div class="my-1 flex justify-center items-center">
                <span><%= data.date.date %></span><sup><%= data.date.suffix %></sup><span class="capitalize">&nbsp; <%= data.date.month %></span><span>&nbsp;&comma; <%= data.date.year %></span>
            </div>
        </div>
        <h1 class="list-detail__appear transform scale-0 transition-all list-detail__appear--1 text-6xl font-title capitalize text-center w-min mx-auto bg-gradient-to-r from-pink-600 to-purple-700 text-transparent bg-clip-text font-bold md:w-3/5 md:mx-auto md:text-7xl my-2">
            <%= data.list_title %>
        </h1>
        <div class="flex items-center justify-center list-detail__appear transform scale-0 transition-all list-detail__appear--3 my-2 mx-auto w-max ">
            <strong class="text-sm mr-2 capitalize text-gray-500">
                created by
            </strong>
            <a href="/reviewers/<%= data.uid %>" class="block text-center capitalize text-gray-500 hover:text-pink-600 border-b-2 border-transparent hover:border-current hover:shadow-xl">
                <%= data.name %>
            </a>
        </div>
        <p class="list-detail__appear transform scale-0 transition-all list-detail__appear--4 text-gray-600 text-lg leading-relaxed w-5/6 md:w-3/5 md:text-xl mx-auto text-center">
            <% if (data.list_desc) { %>
                <%= data.list_desc %>
            <% } else { %>
                <span class="text-gray-400">
                    No description available
                </span>
            <% } %>
        </p>
        <% if(authorized) { %>
            <div class="flex items-center my-6 list-detail__appear list-detail__appear--5 transition-all transform scale-0">
                <a href="/moovey/list/<%= data.lid %>/edit" title="Edit" class="text-xl transform transition-all hover:scale-125 text-pink-600 far fa-edit m-2 outline-none focus:outline-none"></a>
                <button id="openDeleteModal" title="Delete" class="text-xl transform transition-all hover:scale-125 text-pink-600 far fa-times-circle m-2 outline-none focus:outline-none"></button>
            </div>
            <a href="/moovey/list/<%= data.lid%>/search" class="list-detail__appear scale-0 transition-all list-detail__appear--5 flex items-center py-2 px-5 bg-black rounded transform text-gray-100 hover:text-white outline-none focus:outline-none my-2 mx-auto w-max hover:shadow-xl hover:scale-105 hover:-translate-y-px">
                <i class="fas fa-plus text-sm mr-2"></i>
                <small class="capitalize">
                    add to list
                </small>
            </a>
        <% } %>
        <% if (data.movies.length > 0) {%>
        <div id="readList" class="flex flex-col items-center justify-center list-detail__appear transform scale-0 transition-all list-detail__appear--6 my-4 mx-auto w-max text-gray-400 hover:text-gray-700 relative">
            <button class="far fa-arrow-alt-circle-down mt-3 animate-bounce text-3xl block outline-none focus:outline-none"></button>
        </div>
        <% } %>
    </header>


    <% if (data.movies.length > 0) {%>
    <ul class="z-10 flex items-center justify-center my-4 w-full py-2">
        <li class="sectionSelector cursor-pointer px-3 text-pink-600 font-bold uppercase flex items-center">
            <i class="fas fa-stream"></i>
            <span class="ml-1 hidden md:block">
                List |
            </span>
        </li>
        <li title="testimonials" class="sectionSelector cursor-pointer hover:text-gray-700 px-3 text-gray-500 uppercase flex items-center">
            <i class="far fa-comments"></i>
            <span class="ml-1 hidden md:block">
                testimonials
            </span>
        </li>
    </ul>
    <main id="listBody" class="min-h-screen h-full w-full bg-gradient-to-r to-pink-700 from-purple-700">
        <% data.movies.forEach((movie, index) => { %>
            <%- include('../partials/list_item', { item: movie, index: index, lid: data.lid }) %>
        <% }) %>        
    </main>
    <% } else { %>
    <main id="listBody" class="h-40 w-full flex flex-col items-center justify-start">
        <h3 class="text-pink-600 text-3xl capitalize font-title font-bold">
            No items in the list
        </h3>
    </main>
    <% }  %>
  <!-- only auth -->
  <% if(authorized) { %>

    <!-- delete modal only if authorized -->
    <section id="deleteConfirmModal" class="flex items-center justify-center transition-all transform fixed z-50 top-0 left-0 h-screen w-full bg-black bg-opacity-90 scale-0">
        <article class="bg-white h-52 w-4/5 max-w-lg rounded-sm shadow-2xl flex items-start justify-center flex-col p-6">
            <strong class="text-lg break-words text-gray-500">
                Are you sure you want to delete list <span class="text-pink-700">"<%= data.title %>"</span>?
            </strong>
            <small class="text-xs text-gray-400 block text-left capitalize mt-1">
                once deleted, the change cannot be undone.
            </small>
            <div class="flex items-center justify-center my-4">
                <form action="/moovey/list/<%= data.lid %>/delete" method="POST">
                    <button type="submit" class="m-1.5 p-2 text-sm rounded-sm transform transition-all hover:scale-105 hover:shadow-lg text-white bg-pink-600 outline-none focus:outline-none">
                        <i class="fas fa-check"></i>
                        <span class="ml-1">Go ahead and delete it</span>
                    </button>
                    <button id="closeDeleteModal" type="button" class="m-1.5 p-2 text-sm rounded-sm transform transition-all hover:scale-105 hover:shadow-lg text-white bg-black outline-none focus:outline-none">
                        <i class="fas fa-times"></i>
                        <span class="ml-1">
                            Take me back
                        </span>
                    </button>
                </form>
            </div>
        </article>
    </section>
    <% } %>

    <!-- footer -->

    <%- include('../partials/footer') %>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/navScroll.js"></script>
    <script src="/static/js/listDetail.js"></script>
</body>
</html>


