<%- include('../partials/head') %>

<body class="font-regular relative">
    <main class="h-screen w-full relative grid place-items-center">
        <img 
        src="/static/assets/placeholder.jpg" 
        alt="" 
        class="absolute pointer-events-none top-0 left-0 h-full w-full object-cover block opacity-20 filter grayscale sm:opacity-100 sm:grayscale-0 lg:blur-sm">

        <div class="w-full h-full z-10 bg-transparent bg-opacity-80 flex flex-col items-center justify-center sm:bg-white sm:max-w-lg sm:h-auto sm:bg-opacity-50">
            
        <% if (accountError) { %>
        <p id="accountGlobalError" class="absolute top-0 left-0 font-regular block w-full text-center p-2 bg-black text-white">
            <i class="fas fa-exclamation-triangle text-sm"></i> 
            <%= accountError %>
        </p>
        <% } %>

            <form
                action="/reset-password?t=<%= t %>&u=<%= u %>"
                method="POST"
                autocomplete="off" 
                class="h-full w-full p-2 md:py-10 flex flex-col items-center justify-center sm:bg-white max-w-md sm:my-10">
                <h1 class="capitalize mb-6 flex flex-col justify-center items-center">
                    <p class="font-special text-2xl text-black">
                        M<small class="inline-block animate-bounce">&deg;</small>
                    </p>
                    <h3 class="text-center capitalize font-special bg-gradient-to-r from-pink-600 to-black via-purple-700 bg-clip-text text-transparent">
                        Hi <%= user.name %>,
                    </h3>
                    <span class="font-regular font-semibold">
                        Reset Password
                    </span>
                </h1>
                <div class="w-full h-auto flex justify-center items-center flex-col md:w-11/12 mx-auto">
                  
                    <section class="w-11/12 max-w-md mb-1">
                        <label data-active="text-black" data-inactive="text-gray-500" for="newPassword" class="text-xs mb-0.5 capitalize font-semibold text-gray-500 tracking-wider">
                            <small>new password</small>
                        </label>
                        <div class="w-full relative">
                            <input 
                                data-tag="visible"
                                data-active="text-black"
                                data-inactive="text-gray-500"
                                data-name="newPassword"
                                data-type="password"
                                type="text" 
                                data-content=""
                                autocomplete="organization"
                                class="w-full border-2 p-1 pr-4 rounded-md border-current bg-transparent text-gray-500 text-sm outline-none focus:outline-none font-semibold font-regular transition-all ring-0 focus:ring-0 ring-transparent focus:border-black focus:text-black ring-offset-transparent"
                                id="newPassword">
                            <button type="button" class="togglePassword absolute bottom-2 right-2 flex flex-col items-center justify-center outline-none focus:outline-none hover:text-black text-gray-500 transition-all">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-eye-slash hidden"></i>
                                <small class="hidden">show/hide password</small>
                            </button>
                        </div>
                        <small class="my-1 text-xs text-gray-500 font-special capitalize">
                            Password must be between 6-20 characters
                        </small>
                    </section>
                  
                    <section class="w-11/12 max-w-md mb-1">
                        <label data-active="text-black" data-inactive="text-gray-500" for="confirmPassword" class="text-xs mb-0.5 capitalize font-semibold text-gray-500 tracking-wider">
                            <small>confirm password</small>
                        </label>
                        <div class="w-full relative">
                            <input 
                                data-tag="visible"
                                data-active="text-black"
                                data-inactive="text-gray-500"
                                data-name="confirmPassword"
                                data-type="password"
                                type="text" 
                                data-content=""
                                autocomplete="organization"
                                class="w-full border-2 p-1 pr-4 rounded-md border-current bg-transparent text-gray-500 text-sm outline-none focus:outline-none font-semibold font-regular transition-all ring-0 focus:ring-0 ring-transparent focus:border-black focus:text-black ring-offset-transparent"
                                id="confirmPassword">
                            <button type="button" class="togglePassword absolute bottom-2 right-2 flex flex-col items-center justify-center outline-none focus:outline-none hover:text-black text-gray-500 transition-all">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-eye-slash hidden"></i>
                                <small class="hidden">show/hide password</small>
                            </button>
                        </div>
                        <small class="my-1 text-xs text-gray-500 font-special capitalize">
                            Confirmation password must match new password
                        </small>
                    </section>
                </div>
                <input type="hidden" name="newPassword" class="hiddenField">
                <input type="hidden" name="confirmPassword" class="hiddenField">
                <section class="w-4/5 max-w-md my-6 sm:w-5/6">
                    <button  
                        type="submit"  
                        class="w-max bg-black text-xs text-white py-1.5 px-5 mx-auto flex items-center justify-center capitalize outline-none focus:outline-none transition-all transform cursor-not-allowed opacity-50" disabled>
                        <i class="fas fa-key" id="btnDefaultIcon"></i>
                        <i class="fas fa-spinner animate-spin hidden" id="btnLoadIcon"></i>
                        <span class="ml-1.5" id="btnText" data-load="loggin in">change password</span>
                    </button>
                </section>
                
                <section class="w-full text-center mb-6">
                    <p class="text-xs text-center text-gray-500">
                        <a href="/login" class="border-b border-transparent outline-none focus:outline-none hover:border-current hover:text-black font-semibold capitalize">go to login page</a>
                    </p>
                </section>
    
            </form>
        </div>
    </main>    
    <script src="/static/js/account.js"></script>
</body>
</html>

