<%- include('../partials/head')%>
<body class="min-h-screen font-regular relative bg-gray-100">
    <!-- navbar -->
    <%- include('../partials/fixed_video_bg')%>
    <!-- header -->
    <header class="p-2 flex flex-col items-center">
        <h1 class="font-title mt-10 font-bold text-4xl text-transparent bg-gradient-to-r from-pink-600 to-purple-700 bg-clip-text capitalize text-center">
            search moovey
        </h1>
        <% if (message.length > 0) { %>
            <strong class="text-xs text-center block text-gray-700 tracking-wide w-5/6 max-w-xl break-words mx-auto my-2 capitalize">
                <%= message %>
            </strong>
            <% } else { %>
            <small class="text-xs text-center block text-gray-700 tracking-wide w-5/6 max-w-xl break-words mx-auto my-2 font-light">
                Search the title of the movie/series here
            </small>
            <% } %>

        <form 
            autocomplete="off"
            method="POST"
            action="<%= actionUrl %>" 
            class="searchForm w-11/12 my-2 max-w-lg mx-auto flex items-center justify-self-center relative">
            <input 
                type="text" 
                name="keyword"
                placeholder="Search Movie"
                class="w-full p-2.5 pr-8 text-sm block rounded-md outline-none focus:outline-none focus:shadow-2xl focus:scale-x-105 transform transition-all duration-200 focus:text-gray-600 focus:placeholder-gray-600">
            <button type="submit" class="text-gray-700 z-10 outline-none focus:outline-none focus:scale-110 hover:scale-110 absolute transform top-1/2 -translate-y-1/2 right-2">
                <i class="fas fa-search"></i>
            </button>
            <!-- on submit change the above button icon with loader icon with animation infinite till new page loads -->
        </form>

        <form 
            autocomplete="off"
            method="POST"
            action="<%= actionUrl %>" 
            class="searchForm hidden w-11/12 my-2 max-w-lg mx-auto items-center justify-self-center flex-col">
            <input 
                type="text" 
                name="keyword"
                placeholder="Search Movie"
                class="w-full p-2.5 pr-8 text-sm block rounded-md outline-none focus:outline-none focus:shadow-2xl focus:scale-x-105 transform transition-all duration-200 focus:text-gray-600 focus:placeholder-gray-600">
            <div class="flex items-center justify-center w-full mt-1 relative">
                <input 
                    type="number" 
                    name="year"
                    min="1900"
                    placeholder="Year of release (optional)"
                    class="appearance-none p-2.5 pr-8 text-sm w-2/3 block rounded-l-md outline-none focus:outline-none transition-all duration-200 focus:text-purple-600 focus:placeholder-gray-600">
                <div class="w-1/3 bg-white">
                    <select name="type" class="cursor-pointer appearance-none p-2.5 pr-8 text-sm w-full block rounded-r-md outline-none focus:outline-none transition-all duration-200 focus:placeholder-gray-600 text-transparent bg-clip-text bg-gradient-to-r from-pink-600 to-purple-700">
                        <option class="text-black" value="" selected>Type of Moovey &darr;</option>
                        <option class="text-black" value="movie">
                            It's a movie
                        </option>
                        <option class="text-black" value="series">
                            It's a TV/Web series
                        </option>
                    </select>
                </div>
            </div>
            <button type="submit" class="z-10 rounded-md outline-none focus:outline-none focus:scale-105 transform flex items-center justify-center my-2.5 py-2.5 px-4 w-full bg-black text-white hover:scale-105 transition-all font-title">
                <i class="fas fa-search mr-1"></i>
                <span>Search Moovey</span>
            </button>
            <!-- on submit change the above button icon with loader icon with animation infinite till new page loads -->
        </form>

        <button id="formToggler" class="outline-none focus:outline-none text-sm text-gray-500 border-b border-transparent hover:border-current hover:text-black capitalize">
            <span id="formMode">advance</span> search
        </button>

    </header>

    <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 my-4 mx-auto max-w-7xl min-h-screen">
        <% if (data.length > 0) {%>
            <% data.forEach(datum => { %>
                <form action="<%= datum.href %>" method="GET" class="mx-auto">
                    <button type="submit" class="outline-none focus:outline-none">
                        <%- include('../partials/movie_thumbnail', {movie : datum}) %>
                    </button>
                </form>
            <% }) %>
        <% } %>
    </main>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/navScroll.js"></script>
    <script src="/static/js/searchMovie.js"></script>
<!-- footer -->
<%- include('../partials/footer') %>