<%- include('../partials/head')%>

 <body class="min-h-screen font-regular relative bg-white">
    <%- include('../partials/navbar') %>
    <!-- header section -->
     <header class="h-screen relative p-4 flex flex-col items-center justify-center bg-gradient-to-br from-white to-gray-50 md:bg-none lg:mx-12">
         <video autoplay muted loop
             class="hidden md:block h-full w-full object-cover absolute top-0 left-0 opacity-10 lg:opacity-30">
                 <source src="/static/assets/video.mp4" type="video/mp4"/><
         </video>
         <section class="flex flex-col justify-center items-center transform lg:-translate-y-2.5 lg:bg-gray-50 lg:z-10 lg:p-4 lg:grid lg:grid-cols-2 max-w-5xl lg:grid-rows-6 lg:h-3/4 lg:gap-x-3 lg:shadow-2xl lg:rounded-md">
             
             <h1 class="flex flex-col items-center justify-center lg:col-start-2 lg:text-center lg:row-start-1 lg:row-end-2 mb-0.5">
                 <span class="text-2xl font-special capitalize text-gray-600 md:text-gray-800">
                     <%= profile.name %>
                 </span>
                 <% if(profile.showProfile) { %>
                 <small class="text-sm text-gray-400">
                     <%= profile.email %>
                 </small>
                 <% } %>
             </h1>
 
             <figure class="block h-44 w-44 md:h-48 md:w-48 object-cover shadow-xl p-1.5 bg-white rounded-full overflow-hidden my-3 lg:rounded-none lg:h-full lg:w-full lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-7 lg:my-0 lg:p-2.5">
                 <img
                     class="block h-full w-full object-cover rounded-full transition-transform duration-300 transform hover:scale-125 cursor-pointer lg:cursor-default lg:rounded-none lg:transform-none" 
                     src="<% if(profile.picture) { %>
                        <%= profile.picture %> 
                        <% } else { %>
                        <%= '/static/assets/placeholder.jpg'%>
                        <% } %>" 
                     alt="<%= profile.name %>'s profile picture">
             </figure>
             
             <div class="flex items-center text-gray-400 md:text-gray-700 justify-center lg:row-start-1 lg:row-end-3 lg:col-start-2">
                 <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                 <small class="uppercase ml-0.5">
                    <% if(profile.location) {%>
                       <%= profile.location %>
                    <% } else { %>
                        <small class="capitalize text-sm ml-1 text-gray-400">
                            no location available
                        </small>
                    <% } %>    
                 </small>
             </div>

             <p class="text-gray-500 font-light text-center italic my-2 lg:my-0 break-words max-w-3xl md:text-gray-700 lg:col-start-2 lg:row-start-2 lg:row-end-5 lg:w-5/6 lg:mx-auto">
                <% if(profile.bio) {%> 
                    <%= profile.bio %>
                <% } else {%>
                    <small class="capitalize text-gray-400">
                        no bio available
                    </small>
                <% } %>
             </p>
 
             <div class="flex items-center justify-center flex-col text-gray-600 md:text-gray-700 my-4 lg:my-0 lg:col-start-2">
                 <small class="uppercase font-bold text-xs">
                     joined on
                 </small>
                 <span class="capitalize text-xs lg:text-sm">
                     <%= profile.date_joined.date %><sup><%= profile.date_joined.suffix %></sup> <%= profile.date_joined.month %>, <%= profile.date_joined.year %>
                 </span>
             </div>
             <div class="flex flex-col items-center lg:col-start-2">
                 <ul class="flex items-center lg:col-start-2 lg:justify-center">
                     <li class="m-1 p-1 transform hover:scale-125 transition-all cursor-pointer">
                         <img src="/static/assets/facebook.svg" class="h-6 w-6 object-cover block" alt="facebook">
                     </li>
                     <li class="m-1 p-1 transform hover:scale-125 transition-all cursor-pointer">
                        <img src="/static/assets/instagram.svg" class="h-6 w-6 object-cover block" alt="instagram">
                    </li> 
                    <li class="m-1 p-1 transform hover:scale-125 transition-all cursor-pointer">
                        <img src="/static/assets/twitter.svg" class="h-6 w-6 object-cover block" alt="twitter">
                    </li>
                </ul>
             </div>
            </section>
     </header>
     
     <!-- tab selector -->
     <ul class="flex items-center justify-center mt-10 lg:my-20">
         <li class="sectionSelector cursor-pointer hover:text-gray-500 px-3 text-gray-400 uppercase text-sm">articles</li>
         <li class="sectionSelector cursor-pointer hover:text-gray-500 px-3 text-gray-400 uppercase text-sm">lists</li>
         <li class="sectionSelector cursor-pointer hover:text-gray-500 px-3 text-gray-400 uppercase text-sm">recommendations</li>
         <% if(profile.showProfile) { %>
            <li class="sectionSelector cursor-pointer hover:text-gray-500 px-3 text-gray-400 uppercase text-sm">watchlist</li>
            <li class="sectionSelector cursor-pointer hover:text-gray-500 px-3 text-gray-400 uppercase text-sm">settings</li>
        <% } %>
     </ul>
 
     <!-- main section -->
     <div class="min-h-screen pt-12 lg:pt-0 flex flex-col lg:flex-row lg:mx-12 lg:my-8">
         <main class="tabSection w-full flex flex-col items-center p-4 justify-start h-1/2 min-h-screen bg-white">
             <h2 class="capitalize font-light text-4xl text-pink-600 font-special">
                 articles
             </h2>
             <p class="leading-relaxed text-gray-500 font-light my-2 italic mb-2 pb-2 border-b-2 text-center">
                Here's the list of all the movies you have reviewed.
             </p>
             <% if (profile.showProfile) { %>
                <a href="/moovey/new-review" class="flex w-max px-4 py-2 bg-black text-center justify-center group relative mx-auto my-4 transition-all hover:scale-110 transform hover:shadow-lg">
                    <div class="z-0 absolute top-0 left-0 h-full w-full bg-gradient-to-r from-pink-600 to-purple-700 transition-all opacity-50 transform scale-110 group-hover:opacity-0 animate-ping"></div>
                    <div class="flex z-20 items-center justify-center text-gray-100 group-hover:text-white">
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        <span class="transition-all capitalize text-sm">
                            new review
                        </span>
                    </div>
                </a>
            <% } %>
             <% if(profile.blogs.length > 0) {%>
                <section class="w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
                    <% profile.blogsforEach(blog => { %>
                        <%- include('../partials/blog_thumbnail', {blog}) %>
                    <% }) %>
                </section>
            <% } else { %>
                <article class="flex flex-col items-center mx-auto my-10">
                    <h2 class="text-center capitalize text-gray-500 font-light text-xl w-full">
                        <%= profile.name %> hasn't reviewed a movie yet.
                    </h2>
                </article>
            <% } %>

         </main>
         <main class="tabSection w-full flex flex-col items-center p-4 justify-start h-1/2 min-h-screen bg-white">
            <h2 class="capitalize font-light text-4xl text-pink-600 font-special">
                my lists
            </h2>
            <p class="leading-relaxed text-gray-500 font-light my-2 italic mb-2 pb-2 text-center">
                Here's all the compilation lists you have created.
            </p>
            <% if (profile.showProfile) { %>
                <a href="/moovey/new-list" class="flex w-max px-4 py-2 bg-black text-center justify-center group relative mx-auto my-4 transition-all hover:scale-110 transform hover:shadow-lg">
                    <div class="z-0 absolute top-0 left-0 h-full w-full bg-gradient-to-r from-pink-600 to-purple-700 transition-all opacity-50 transform scale-110 group-hover:opacity-0 animate-ping"></div>
                    <div class="flex z-20 items-center justify-center text-gray-100 group-hover:text-white">
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        <span class="transition-all capitalize text-sm">
                            new list
                        </span>
                    </div>
                </a>
            <% } %>
            <!-- if no list found -->
            <% if (profile.lists.length === 0) {%>
            <article class="flex flex-col items-center mx-auto my-10">
                <h2 class="text-center capitalize text-gray-500 font-light text-xl w-full">
                    <%= profile.name %> hasn't compiled any list yet.
                </h2>
            </article>
            <% } else { %>
            <section class="w-full flex flex-col bg-gradient-to-r from-red-50 to-pink-50">
            <!-- else -->
                <% profile.lists.forEach(list => { %>
                    <%- include('../partials/list_thumbnail', {list : list})%>
                <% }) %>
            </section>
            <% } %>
        </main>
         <main class="tabSection w-full flex flex-col items-center p-4 justify-start h-1/2 min-h-screen bg-white">
             <h2 class="capitalize font-light text-4xl text-pink-600 font-special">
                 recommendations
             </h2>
             <p class="leading-relaxed text-gray-500 font-light my-2 italic mb-2 pb-2 border-b-2 text-center">
                 Here's the list of movies you have recommended while reviewing. 
             </p>
             <% if(profile.recommendations.length > 0) {%>
                <section class="w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4">
                <% profile.recommendations.forEach(movie => { %>
                    <%- include('../partials/movie_thumbnail', {movie}) %>
                <% }) %>
                </section>
                <% } else { %>
                <article class="flex flex-col items-center mx-auto my-10">
                    <h2 class="text-center capitalize text-gray-500 font-light text-xl w-full">
                        <%= profile.name %> hasn't recommended a movie yet.
                    </h2>
                </article>
            <% } %>    
         </main>
    <% if(profile.showProfile) { %>
        <main class="tabSection w-full flex flex-col items-center p-4 justify-start h-1/2 min-h-screen bg-white max-w-xl mx-auto">
            <h2 class="capitalize font-light text-4xl text-pink-600 font-special">
                watchlist
            </h2>
            <p class="leading-relaxed text-gray-500 font-light my-2 italic mb-2 pb-2 border-b-2 text-center">
                Here's the list of movies you plan to watch later. 
            </p>
            <% if(profile.watchlist.length > 0) {%>
               <section class="w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4">
               <% profile.watchlist.forEach(movie => { %>
                   <%- include('../partials/movie_thumbnail', {movie}) %>
               <% }) %>
               </section>
               <% } else { %>
               <article class="flex flex-col items-center mx-auto my-10">
                   <h2 class="text-center capitalize text-gray-500 font-light text-xl w-full">
                       <%= profile.name %> doesn't have any movies in watchlist.
                   </h2>
               </article>
           <% } %>
         </main>
        <main class="tabSection w-full flex flex-col items-center p-4 justify-start h-1/2 min-h-screen bg-white max-w-xl mx-auto">
            <h2 class="capitalize font-light text-4xl text-pink-600 font-special">
                 settings
            </h2>
            <p class="leading-relaxed text-gray-500 font-light my-2 italic mb-2 pb-2 text-center">
                 You can edit or delete your profile. Remember once you delete your account, all your content will be removed permanently.
            </p>
            <section class="w-full flex flex-col justify-center items-center md:flex-row">
                <a href="/edit-profile" class="bg-black flex items-center m-2 px-4 py-2 rounded hover:shadow-lg text-gray-300 hover:text-white outline-none focus:outline-none w-max max-w-xs transform hover:scale-105 transition-all hover:-translate-y-px">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                    <span class="capitalize text-xs ml-1">
                        edit profile
                    </span>
                </a>        
                <a href="/delete-profile" class="bg-pink-600 flex items-center m-2 px-4 py-2 rounded hover:shadow-lg text-gray-50 hover:text-white outline-none focus:outline-none w-max max-w-xs transform hover:scale-105 transition-all hover:-translate-y-px">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                    <span class="capitalize text-xs ml-1">
                        delete profile
                    </span>
                </a>        
            </section>
         </main>
    <% } %>
     </div>
 
     <!-- pagination -->
     <ul class="flex items-center justify-center my-8">
         <li class="mx-2 border-2 border-current text-gray-500 hover:text-gray-600"><a href="" class="p-2 font-bold uppercase">&larr; prev</a></li>
         <li class="mx-2 border-2 border-current text-gray-500 hover:text-gray-600 bg-gray-50"><a href="" class="p-2 font-bold uppercase">1</a></li>
         <li class="mx-2 border-2 border-current text-gray-500 hover:text-gray-600"><a href="" class="p-2 font-bold uppercase">2</a></li>
         <li class="mx-2 border-2 border-current text-gray-500 hover:text-gray-600"><a href="" class="p-2 font-bold uppercase">3</a></li>
         <li class="mx-2 border-2 border-current text-gray-500 hover:text-gray-600"><a href="" class="p-2 font-bold uppercase">next &rarr;</a></li>
     </ul>
 
<!-- **************************************************************************** -->

<script src="/static/js/index.js"></script>
<script src="/static/js/navScroll.js"></script>
<script src="/static/js/profilepage.js"></script>

<%- include('../partials/footer') %>
