<%- include('../partials/head') %>
<body class="min-h-screen font-regular relative custom-scrollbar">    

<%- include('../partials/navbar')%>

<%- include('../partials/list-header') %>
<!-- user list -->
<% if (reviewers?.length > 0) { %>
<main class="min-h-screen w-full max-w-4xl mx-auto p-6">
    <% reviewers.forEach((reviewer, index) => { %>
        <%- include('../partials/profile-card', 
            {
                user : reviewer, 
                isEven: index % 2 === 0
            }
        )%>
    <% }) %>
</main>
<%- include('../partials/pagination') %>
<% } else {%>
    <main class="min-h-screen max-w-6xl my-4 mx-auto flex items-center justify-center">
        <%= notFound %>
    </main>
<% } %>



<script src="/static/js/navbar.js"></script>
<script src="/static/js/list-header.js"></script>
<script src="/static/js/scroll-animation.js"></script>

<%- include('../partials/footer') %>
    